@model Speranza.Models.GalleryModel
@{
    ViewBag.Title = "Speranza";
    Layout = "~/Views/Layout.cshtml";
}

<div class="container calendar-container">
    <h2>Fotogaléria</h2>
    <div id="buttons"></div>
    <div id="gallery">
        @foreach (var photo in Model.Photos)
        {
            <figure><img src="@photo.Source" data-tags="@photo.Tag"/></figure>
        }
    </div>
</div>

@section scripts {
    <script>
        $('#gallery').flexgal();
    </script>
}

@section Styles
{
    <link href="~/Content/image-gallery.css" rel="stylesheet" />
}
