
@{
    ViewBag.Title = "Speranza";
    Layout = "~/Views/Layout.cshtml";
}

<div class="container calendar-container">
    <h2>Foto galéria</h2>
    <div id="buttons"></div>
    <div id="gallery">
        <figure><img src="~/Images/Ahealthyfitness-background-1.jpg" data-tags="Blog" alt="" /></figure>
        <figure><img src="~/Images/09b2d308a8f7f46202dc263c18a208ff.jpg" data-tags="Health & Beauty" alt=""/></figure>
        <figure><img src="~/Images/background2.jpg" data-tags="Business" alt="" /></figure>
    </div>
</div>

@section scripts {
    <script>
        $('#gallery').flexgal();
    </script>
}