
.modal-content {
    border: 3px solid lightgrey;
}

.modal-body {
    background-color: #021926;
}
.modal-header h4 {
    color: deepskyblue;
    font-size:2.5rem;
}
.modal-header, .modal-footer {
    background-color: black;
}


.modal .close {
    color: deepskyblue;
    font-size: 3rem;
}
 .modal-footer button {
     font-size: 1.6rem;
}

.modal a {
    color: white;
}

.modal a:hover {
    color:deepskyblue;
}