@import url(https://fonts.googleapis.com/css?family=Share:400,700&subset=latin,latin-ext);
@import url('Modal.css');
.layout-login-body {
    width: 100%;
    min-height: 100vh;
    /*background-image: url(../Images/Ahealthyfitness-background-1.jpg);*/
    background-color: #021926;
    background-repeat: no-repeat;
    background-size: cover;
} 

.obsolete {
    color: #aaa;
}

.calendar-container {
    background-color: #021926;
    color: white;
}

.calendar-container h2{
    margin:auto;
    color:white;
    text-align:center;
    padding-top:3%;
    font-size:23pt;
}

.adminUsersLabel {
    margin: 3%;
    color: white;
    text-align: center;
    padding-top: 3%;
    font-size: 23pt;
}

.userProfileLabel {
    color: white;
    padding-top: 2%;
    font-size: 23pt;
}

.searchUsers {
    margin-bottom: 2%;
}
.trainingSettings {
    padding-top: 0px;
}

.hourslimit {
    color: lightgrey;
    margin-bottom:2px;
}
.paginationSettings {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0%;
}

.ui-autocomplete {
    z-index: 500000 !important;
}

.calendar-table{
    background-color: rgba(0, 0, 0, 0);
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid blue;
    border-bottom:  5px solid red;
    border-right: 5px solid green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    position:absolute;
    top:30%;
    left:50%;
    /*z-index:1000;*/
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

label {
    color: lightgrey;
    font-size: 14pt;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: Share, Helvetica, Arial, sans-serif;
}

input, input.form-control, button.btn {
    font-size: 1.4rem;
}
.myForm input, .table textarea, .table input, #pageSize, .form-control option,.pagination {
    background: transparent;
    color: deepskyblue;
    font-weight: bold;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: Share, Helvetica, Arial, sans-serif;
    font-size: 13pt;
}
.table textarea, .table input, #pageSize {
    color: white;
}

#pageSize {
    width: 80px;
}
    .myForm input:read-only {
        background: transparent;
        color: lightgrey;
        font-weight: normal;
        /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
        font-family: Share, Helvetica, Arial, sans-serif;
        font-size: 13pt;
 }
.myForm input.btn:hover {
        background: deepskyblue;
        color: black;
    }

h2, h3, h4 {
    color: lightgrey;
    font-family: Share, Helvetica, Arial, sans-serif;

}

.table-striped tbody tr:nth-of-type(odd) {
    background: rgba(255,255,255,0.12);
}
.table-striped th {
    color: deepskyblue;
}

.table td {
    color: white;
    vertical-align: middle !important;
    border-top: 0; 
}

.trainingsDetails {
    border-bottom: solid 1px white;
}
.trainingsDetails:hover{
    border-bottom: 1px solid deepskyblue;
    color: deepskyblue;
} 

.table thead {
    border-top:2px solid white;
}

    a {
    color: mediumturquoise;
}

a:hover{
    color:mediumturquoise ;
}


select.selcls, select.selcls:focus{ 
    border: 1px solid #fff;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-size: 1.4rem;
} 

select.form-control:not([size]):not([multiple]) {
  
    height: calc(2.5rem + 5px);  
}
select.selcls option {
    background-color:#223540;
    color: white;
    font-weight: normal;
    font-family: inherit;
    font-size: inherit;

}

.custom-checkbox {
    min-height: 1rem;
    padding-left: 0;
    margin-right: 0;
    cursor: pointer; 
}
.custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none; 
}
.custom-checkbox .custom-control-indicator:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -2px;
    top: -4px;
    -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: red;
    background-image: none;
    box-shadow: none !important; 
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
    background-color: red;
    left: 15px; 
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important; 
}
