
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Calendar</h2>

<table border="1">
    <tr>
        <td></td>
        @for (int i = 6; i < 21; i++)
        {
            <td>@i.ToString("00"):00</td>
        }
        
    </tr>
    <tr>
        <td>Pondelok 25.11.</td>
        @for (int i = 6; i < 21; i++)
        {
            <td></td>
        }
    </tr>
    <tr>
        <td>Utorok 25.11.</td>
        @for (int i = 6; i < 21; i++)
        {
            <td></td>
        }
    </tr>
    <tr>
        <td>Streda 25.11.</td>
        @for (int i = 6; i < 21; i++)
        {
            <td></td>
        }
    </tr>
    <tr>
        <td>Štvrtok 25.11.</td>
        @for (int i = 6; i < 21; i++)
        {
            <td></td>
        }
    </tr>
    <tr>
        <td>Piatok 25.11.</td>
        @for (int i = 6; i < 21; i++)
        {
            <td></td>
        }
    </tr>
    <tr>
        <td>Sobota 25.11.</td>
        @for (int i = 6; i < 21; i++)
        {
            <td></td>
        }
    </tr>
    <tr>
        <td>Nedeľa 25.11.</td>
        @for (int i = 6; i < 21; i++)
        {
            <td></td>
        }
    </tr>
</table>