@*Modal window with All users sign up in training*@
<div class="modal fade" id="trainingDetailsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Prihlásení na tréning <span id="modalTitleTraining"></span></h4>
            </div>
            <div class="modal-body">
                <div class="input-group col-sm-6 trainingSettings ">
                    <div class="ui-widget">
                        <input class="form-control ui-autocomplete" placeholder="Vyber osobu" type="text" id="AddUser" />
                        </div>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-warning" id="AddUserButton"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
                    <div id="TrainingDetailsBody">
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvoriť</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
