<!DOCTYPE html>
@{
// Tato cast bude sucastou kazdej stranky}
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
