@using Speranza.Models;

@{
    ViewBag.Title = "ForgottenPass";
    Layout = "~/Views/LayoutNotLoggedIn.cshtml";
}
<div class="container">


    <div class="text-center" style="padding:50px 0">
        <div class="logo">zmena hesla</div>
        <div class="login-form-1">
            @using (Html.BeginForm("SendNewPass", "Accounts", FormMethod.Post, new { @class = "text-left" }))
            {
                <div class="etc-login-form">
                    <p>zadaj svoju emailovú adresu, kam ti pošleme nové heslo</p>
                </div>
                if (Model != null)
                {
                    if (Model == RegisterModelMessages.PasswordRecoveryFailed)
                    {
                        <div class="login-form-main-message show error success" role="alert">email je nesprávny!</div>
                    }
                }
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            @Html.Label("Email: ", new { @class = "sr-only" })
                                @Html.TextBox("email", string.Empty, new { @class = "form-control", placeholder = "email" })
                        </div>
                    </div>
                    <button type="submit" id="btnSubmit" class="login-button"><i class="glyphicon glyphicon-chevron-right"></i></button>
                </div>
                <div class="etc-login-form">
                    <p>@Html.ActionLink("späť na login", "Index", "Home")</p>
                </div>
            }
        </div>

    </div>


</div>
