@using Speranza.Models;
@model Speranza.Models.UserProfileModel

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Môj profil</h2>

<ul>
    <li>Email: @Html.TextBoxFor(m=>m.Email) </li>
    <li>Meno:  @Html.TextBoxFor(m => m.Name)</li>
    <li>Priezvisko:  @Html.TextBoxFor(m => m.Surname)</li>
    <li>Tel.číslo:  @Html.TextBoxFor(m => m.PhoneNumber)</li>
    
</ul>