@using Speranza.Models;
@model Speranza.Models.UserProfileModel

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Môj profil</h2>

@using (Html.BeginForm("SaveUserProfile", "Accounts"))
{
<ul>
    
    <li>Email: @Html.LabelFor(m => m.Email) </li>
    <li>Meno:  @Html.TextBoxFor(m => m.Name)</li>
    <li>Priezvisko:  @Html.TextBoxFor(m => m.Surname)</li>
    <li>Tel.číslo:  @Html.TextBoxFor(m => m.PhoneNumber)</li>
    
</ul>
    <input type="submit" value="Uložiť" id="btnSubmit" />
}